/* basic variables set up */

/* colors */
$background-color     : #F1F2F5;
$auth-background-color: #E9EAED;
$accent-color         : #627E90;

/* text colors */
$text-dark : #14191D;
$text-grey : #6A6C6E;
$text-light: #FAFCFE;
$text-bg-grey: #F1F2F5;
$text-bg-light: #FFFFFF;

/* context colors */
$primary: #BD6068;
$info   : #00B5DF;
$success: #00897B;
$warning: #FCB21E;
$danger : #EA1A65;

$white: #FFFFFF;
$grey: #7F8083;

$primary-bg: rgba(189, 96, 104, 0.15);