@import "utils/variables";

/* theme color */
$--color-primary: $primary !default;
$--color-success: $success !default;
$--color-warning: $warning !default;
$--color-danger : $danger !default;
$--color-info   : $info !default;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

/* custom changes to element-ui elements */
